﻿/* GENERAL */

$myGreen: #28A54C;

.myGreen {
    background-color: $myGreen;
    color: white;

    &:hover {
        color: white;
    }
}

.myButton {
    min-width: 30% !important;
}

#logoHeader {
    height: 100%;
    width: 12%;
    margin-left : 58%; 
}

.title {
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
}

.myFbBtn, .detailsBtn {
    padding: 5px 16px !important;
}

/* NEWS */

.myCard {
    margin: 0 0 50px 0;

    .item-body {
        padding: 0;

        p {
            padding: 16px;
        }
    }
}

/* GALLERY */
.item-list-detail {
    padding: 0;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
 
.slider {
    width: 100%;
    height: 100%;
}
 
.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}


#gallery {
    .item {
        padding: 16px;

        h2 {
            font-size: 1.3em;
        }
    }

    #searchInput {
        width: 80%;
        background: transparent;
        height: 100%;
        color: #000;
        padding-left: 16px;

        &::-webkit-input-placeholder {
          color: #000 !important;
        }
        &:-moz-placeholder {
          color: #000 !important;
        }
        &:-ms-input-placeholder { /* IE10+ */
          color: #000 !important;
        }
    }
}

/* CONTACTS */

/* MENU */
#rightMenu {
    background-color: rgba(0, 0, 0, 0.56);

    .item {
        font-size: 1.5em;
        color: #ffffff;

        span {
            margin-right: 10px;
            width: 10px;
            text-align: center;
        }
    }

    #logoMenu {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

/* NEWS DESCRIPTION */
#newDesc {
    ng-controller {
        .scroll {
            height: 100% !important;
        }
    }

    #newsDescFab {
        bottom: 3px;
        z-index: 1000;
        padding: 5px;
    }
}