﻿<ion-view name="Contacts">
    <ion-header-bar class="bar bar-balanced-900">
        <h1 class="title light">Contactos</h1>

        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
            </span>
        </div>
    </ion-header-bar>
    <ion-content>
        <h1>contacts</h1>
    </ion-content>
</ion-view>