﻿<ion-view name="Gallery" id="gallery">
    <ion-header-bar class="bar bar-balanced-900">
        <h1 class="title light">Galeria</h1>

        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
            </span>
        </div>
    </ion-header-bar>
    <ion-content ng-controller="GalleryCtrl">
        <div id="event">
            <div class="item item-avatar">
                <h2><i class="ion-images"></i> Nome do Evento</h2>
                <p class="eventDate">12 Março 2015</p>
            </div>

            <a class="item item-list-detail">
                <ion-scroll direction="x">
                    <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb" />
                </ion-scroll>
            </a>


            <div class="button-bar social-login">
                <button class="button button-small button-border icon-left ion-code-download myGreen">Guardar</button>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" class="button button-small button-border icon-left ion-social-facebook button-energized-900 myFbBtn" target="_blank">
                    Partilhar
                </a>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-balanced-100">

        <input id="searchInput" type="text" placeholder="Pesquisar Eventos">

        <div class="buttons buttons-right">
            <button id="fab" class="button button-balanced-900 button-fab">
                <i class="icon ion-ios-search-strong"></i>
            </button>
        </div>
    </div>

</ion-view>