﻿<ion-view name="NewDescription" id="newDesc">
    <ion-header-bar class="bar bar-balanced-900">
        <h1 class="title light">Últimas Notícias</h1>

        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
            </span>
        </div>
    </ion-header-bar>
    <ion-content ng-controller="GalleryCtrl">
        <div>

            <div class="item item-avatar">
                <img src="img/logo_completo.png">
                <h2>5º Passeio de Cicloturismo</h2>
                <p>12 Março 2015</p>
            </div>

            <div class="item item-body">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>

            <a class="item item-list-detail">
                <ion-scroll direction="x">
                    <img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb" />
                </ion-scroll>
            </a>

            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" id="newsDescFab" class="button button-energized-900 button-fab button-fab-bottom-right" target="_blank">
                <i class="icon ion-social-facebook"></i>
            </a>

        </div>
    </ion-content>
</ion-view>