﻿<ion-view name="News">
    <ion-header-bar class="bar bar-balanced-900">
        <h1 class="title light">Últimas Notícias</h1>

        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
            </span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list card myCard">

            <div class="item item-avatar">
                <img src="img/logo_completo.png">
                <h2>5º Passeio de Cicloturismo</h2>
                <p>12 Março 2015</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/upload/CICLOTURISMO.JPG">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel...
                </p>
            </div>

            <div class="button-bar social-login">
                <a href="#/app/news/1" class="button button-small button-border icon-left ion-plus myGreen detailsBtn">Detalhes</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" class="button button-small button-border icon-left ion-social-facebook button-energized-900 myFbBtn" target="_blank">
                    Partilhar
                </a>
            </div>

        </div>

        <div class="list card myCard">

            <div class="item item-avatar">
                <img src="img/logo_completo.png">
                <h2>Desfile de Carnaval</h2>
                <p>8 Fevereiro 2015</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/upload/car0n2.jpg">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel...
                </p>
            </div>

            <div class="button-bar social-login">
                <a href="#/app/news/1" class="button button-small button-border icon-left ion-plus myGreen detailsBtn">Detalhes</a> 
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" class="button button-small button-border icon-left ion-social-facebook button-energized-900 myFbBtn" target="_blank">
                    Partilhar
                </a>
            </div>

        </div>

        <div class="list card myCard">

            <div class="item item-avatar">
                <img src="img/logo_completo.png">
                <h2>Assembleia Geral</h2>
            </div>

            <div class="item item-body">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel...
                </p>
            </div>

            <div class="button-bar social-login">
                <a href="#/app/news/1" class="button button-small button-border icon-left ion-plus myGreen detailsBtn">Detalhes</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" class="button button-small button-border icon-left ion-social-facebook button-energized-900 myFbBtn" target="_blank">
                    Partilhar
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>