﻿<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="right">
        <ion-content id="rightMenu">
            <img id="logoMenu" src="img/logo_menu-01.png" alt="" />

            <ion-list>
                <ion-item nav-clear menu-close href="#/app/news">
                    <span class="ion ion-clipboard"></span>
                    Últimas Notícias
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/gallery">
                    <span class="ion ion-images"></span>
                    Galeria
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/contacts">
                    <span class="ion ion-iphone"></span>
                    Contactos
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>